<ion-header>
  <ion-toolbar>
    <ion-title>
      Add
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title class="add-text">
          <span
            *ngFor="let n of numbers[selectedNumberIndex]['dynamicNumbers']; let i = index"
          >
              {{n}}
            <span
              *ngIf="i !== numbers[selectedNumberIndex]['dynamicNumbers'].length -1"
            >
              {{' + '}}

            </span>

          </span>
          <span *ngIf="numbers[selectedNumberIndex]?.choosen === false"> = ?</span>
          <span *ngIf="numbers[selectedNumberIndex]?.choosen"> = {{numbers[selectedNumberIndex].total}}</span>
        </ion-card-title>
        <ion-list-header *ngIf="resultText !==''" class="correct-answer">
          <ion-label>{{resultText}}</ion-label>
        </ion-list-header>
        <ion-list-header *ngIf="errorText !==''" class="wrong-answer">
          <ion-label>{{errorText}}</ion-label>
        </ion-list-header>
      </ion-card-header>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Find The Answer</ion-label>
      </ion-list-header>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col size="3" let *ngFor="let number of numbers; let i = index"  >
             <div (click)="this.checkAnswer(i)" class="ion-text-center primary" class="number-box">
               <div class="inner-number" [ngClass]="{'choosen': number.choosen }">
                 {{number.total}}
              </div>
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
