.number-box {
  font-size: 30px;
  text-align: center;
}
.inner-number {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.tick-span {
  position: absolute;
  bottom: 34%;
  right: 30%;
  color: brown;
  font-size: 15px;
}
.choosen {
  color: lime;
  opacity: 0.2;
  pointer-events: none;
}

.add-text {
  font-size: 40px;
  font-weight: bold;
}

.correct-answer {
  font-size: 30px;
  color: green;
}
.wrong-answer {
  font-size: 30px;
  color: red;
}
